<header class="header-color">

    <div class="div-logo ">


        </a>
        <img src="/img/logo-transparente.png" alt="Logo de la empresa">

    </div>



    <nav class="navBar">

        <a class="barra1" href="/">Incio</a>
        <a class="barra3" href="productDetail">Viajes</a>
        <a class="barra4" href="productCart"> Carrito</a>
        <a class="barra2" href="register">Registro</a>
        <a class="barra5" href="login">Login</a>


        <ul class="navbar-nav-nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link waves-effect" href="pruebaCarrito">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="clearfix d-none d-sm-inline-block">Carrito</span>
                    <span class="badge red z-depth-1 mr-1 cart-number">0</span>
                </a>
            </li>
        </ul>
    </nav>
    <section>
        <img class="banner" src="/img/wingBanner.jpg" alt="banner">
    </section>

</header>