<header class="header-container">
    <div class="div-logo">
        <div>
        <a class="logout" href="logout">
        <p id="userLogName">
           Salir de la sesión de: <%= user.name %>
        </p>
        <img id="userLogImg" src="/img/<%= user.avatar %> " alt=""> 
        </a>
        </div>

        <img src="/img/logo-transparente.png" alt="Logo de la empresa">

        <nav class="nav-bar">
            <a class="barra1" href="#">Incio</a>
            <a class="barra3" href="productDetail">Viajes</a>
            <a class="barra4" href="productCart"> Carrito</a>
        </nav>

    </div>

    <section class="banner-sec">
        <img class="banner" src="/img/wingBanner.jpg" alt="banner">

        <div class="donde">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input class="holder" type="text" placeholder="¿A dónde?">
            <i class="fa-solid fa-plane-up"></i>
        </div>

    </section>

</header>