<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrillo</title>
</head>

<body>
    <main>
        <h2>Productos en carrito <% if(typeof data.usuarioLogueado !="undefined" ){%>
                <p id="userLogName">
                    <%= data.usuarioLogueado.name %>
                </p>

                <%}%>
        </h2>
        <div>
            <table class="table table-responsive-md mb-0">
                <thead>
                    <tr>
                        <th>
                            <strong>#</strong>
                        </th>
                        <th>
                            <strong>Producto</strong>
                        </th>
                        <th>
                            <strong>Precio</strong>
                        </th>
                        <th>
                            <strong>Cantidad</strong>
                        </th>
                        <th>
                            <strong>Subtotal</strong>
                        </th>
                    </tr>
                </thead>
                <tbody class="cartRows"></tbody>
            </table>
            <div class="card-footer">
                <h2>Total: <span class="totalAmount">$ 0</span> </h2>
            </div>
            <div>Terminar la compra</div>
            <form action="/pruebacarrito" class="card-body" id="checkoutCart" method="POST">
                <button type="submit">Comprar</button>
            </form>
        </div>
    </main>
    <script src="/js/cart.js"></script>
</body>

</html>