<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/CSS/normalize.css"> <!--Estilos de letras; pequé el normalize en carpeta CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--Estilos de letras-->

    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script> <!--iconos-->
    <link rel="stylesheet" href="/CSS/footer.css">
    <link rel="stylesheet" href="/CSS/index.css">

</head>

<body class="body-container">

    <header class="header-container">

        <div class="div-logo">
            <img src="/img/logo-transparente.png" alt="Logo de la empresa">

            <form action="/home" method="POST">

                <input class="logoutHome" type="submit" value="logOut">


            </form>
            <nav class="nav-bar">
                <a class="barra1" href="#">Incio</a>
                <a class="barra3" href="productDetail">Viajes</a>
                <a class="barra4" href="productCart"> Carrito</a>
                <a class="barra2" href="register">Registro</a>
                <a class="barra5" href="login">Sesión de: <%= user.name %> </a>
                <img src="/public/img/<%= user.avatar %>">

            </nav>

        </div>
        <section class="banner-sec">
            <img class="banner" src="/img/wingBanner.jpg" alt="banner">

            <div class="donde">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="holder" type="text" placeholder="¿A dónde?">
                <i class="fa-solid fa-plane-up"></i>
            </div>

        </section>

    </header>

    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>

    <script src="/js/logOut.js"></script>

    </body>