*{
    margin: 0;  /*aca está la dif del footer en margin y padding*/
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root {
    --yellow:#EAC926;
    --dark-blue: #03264C;
    --light-blue: #1259c3;
    --gray: #666;
    --light-gray: #ebebeb;
    --green: #39b54a;
  }
.bodyClass{
    background-color: rgb(178, 212, 235);/*IMPORTANTE sería la parte del body comun a todos*/
}
/*Estilo producto*/
h1{
   text-align: center; 
}
.contenedorProducto{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.producto{
    width: 30%;
    /* border: solid 2px greenyellow; */
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;

}
.box-product{
    width: 100;
    /* border: solid 2px yellow; */
    margin: auto;
    background-color: #ffffff;
    padding-bottom: 1rem;
}
.box-product:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.topProduct{
    position: relative;
}
.img{
 display: block;
 margin: auto;
 width: 100%;
 height: 250px;
}
.nombreProducto{
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    left: 1rem;
    top: 1rem;
}
.descripcionImagen{
    display: none;
    background-color: var(--gray);
    opacity: 0.8;
    position: absolute;
    padding: 5px;
    font-size: 12px;
    color: #ffffff;
    right: 0px;
    left: 0px;
    bottom: 0px;
    /* transition: 0.5s; */ /*FALTA AGREGAR TRANSICION*/
    /* transition: all 4500ms; */
    
}
.topProduct:hover .descripcionImagen{
    display: block;
}
/*DESCRIPCION PRODUCTO*/
.descripcionProducto{
    width: 90%;
    margin: auto;
}
.textoPlano{
    font-size: 12px;
    color: var(--gray);
}
h3{
    font-size: 14px;
    font-weight: bold;
}
.vuelos{
    margin-top: .5rem;
    padding-top: .5rem;
    border-top: solid 2px var(--gray);
}
.precio{
    color: rgb(17, 17, 153);
    font-weight: bold;
    text-align: right;
}
.ofertas{
    color: var(--green);
    font-weight: bold;
    text-align: right;
    font-size: 15px;
}

@media (max-width: 968px){
    .producto{
        width: 45%;
    }
}

@media (max-width: 500px){
    .producto{
        width: 90%;
    }
}

