<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styleproducto.css">
    <%- include('../partials/head') %>

        <title>Document</title>
</head>

<body class="bodyClass">
    <%- include('../partials/header') %>
        <h1>Producto</h1>
        <section class="contenedorProducto">

            <%- include('tarjetaProducto') %>

        </section>
        <%- include('../partials/footer') %>
            <script src="/js/toastr.js"></script>
            <script src="/js/funcionCarrito.js"></script>
</body>