<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    //<%- include('./partials/header') %> 
    
    <main>
        <h2>Formulario de Creacion</h2>
        <form class="pform" action="register.html" method="GET" > <!-- enctype="multipart/form-data" -->
            
        
            <input type="text" name="nuevo destino" id="nuevodestino" placeholder="Nombre del destino" required>
            
       
            <input type="file" name="FotoDestino" id="Foto-del-destino" placeholder="Foto del destino" required>

         <div class="contenedor-botones">
        

            <a href="login" class="button-enviar">Iniciar sesión</a>
        </div>

           
 
           
            </form>
                
            
    </main>

    <%- include('./partials/footer') %> 
    
    
</body>
</html>